<!DOCTYPE html>
<html lang="en">

{% include general/head.html %}

<body>
    {% if site.data.[site.lang].general.basic.enablePreloader %}
    <div id="preloader" class="preloader">
        <div class="loader-gplus"></div>
    </div>
    {% endif %}
    
    <div id="st-container" class="st-container">
        <div class="st-pusher">
            <div class="st-content">

                {% include general/top-section.html %}

                {% include blog/post.html isStaticPost=page.isStaticPost %} 
                
                {% include general/footer.html %}

            </div>
        </div>
    </div>

    {% include analytics.html %}
    {% include webfont.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl_root }}><\/script>')
    </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script>
    if (typeof($.fn.modal) === 'undefined') {
        document.write('<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl_root }}><\/script>')
    }
    </script>
    <script src="{{ "/js/libraries.js" | prepend: site.baseurl_root }}"></script>
    <script src="{{ "/js/scripts.js" | prepend: site.baseurl_root }}"></script>
    {% include schema-event.html %}
</body>

</html>