.about {
    hr {
        width: 20px;
        border-top: 1px solid;
    }
    h3 {
        padding:0;
    }
}
.about-details {
    img {
        width: 128px;
    }
    p {
        margin-top: 10px;
    }
}

