<!-- Begin Top Section -->
<section id="top-section" class="top-section image-section {% if page.image %}enable-overlay{% endif %}" style="{% if page.image %}background-image: url('{{ site.baseurl_root }}/img/sections-background/{{ page.image }}');{% elsif page.color %}background: {{ page.color }}{% endif %}">
    <div class="overlay gradient-overlay"></div>

    {% include general/navigation.html %}
	<div class="content-wrapper">
	    <div class="jumbotron text-left">
	        {% capture title %}{% t page.title %}{% endcapture %}
	        <h1>{% if title != '' %}{{ title }}{% else %}{{ page.title }}{% endif %}</h1>
	    </div>
    </div>
</section>
<!-- End Top Section -->