<!-- Begin Hero Section -->
<section id="agenda" class="about image-section parallax" style="background-image: url({{ site.baseurl_root }}/img/sections-background/{{ site.data.[site.lang].index.statistics.image }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1" style="margin-bottom:50px;">
            <h1>{{ site.data.[site.lang].index.agenda.title }}</h1><br><br>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <span class="fat-border">
                    <p>{{ site.data.[site.lang].index.agenda.workshopDate }}</p>
                    <h3>{{ site.data.[site.lang].index.agenda.workshopTitle }}</h3>
                </span>
                <span class="fat-border">
                    <h5>Advanced JIRA & JIRA Agile</h5>
                </span>
                <br><hr><br>
                <span class="fat-border">
                    <h5>JIRA Enterprise Workshop</h5>
                </span>
                <br><hr><br>
                <span class="fat-border">
                     <a href="https://riada.se/kurser"><h5>Register (25% off for Enterprise Day ticket holders)</h5></a>
                </span>
                <div class="clearfix"></div>
            </div></a>
            <div class="col-md-6 col-sm-6 col-xs-12 conference-day">
                <span class="fat-border">
                <p>{{ site.data.[site.lang].index.agenda.conferenceDate }}</p>
                <h3>{{ site.data.[site.lang].index.agenda.conferenceTitle }}</h3></a>
                </span>
                <span class="fat-border">
                    <h5>Enterprise Day Keynote</h5>
                </span>
                <br><hr><br>
                <span class="fat-border">
                    <h5>Track Session, Birds Of Feather, Show Floor</h5>
                </span>
                <br><hr><br>
                <span class="fat-border">
                    <h5>Enterprise Day Party</h5>
                </span>
            </div>
        </div>
    </div>
</section>
<!-- End Hero Section -->

