<!-- Begin Hero Section -->
<section id="top-section-hero" class="top-section-hero top-section image-section" style="background-image: url('{{ site.baseurl_root }}/img/sections-background/{{ site.data.[site.lang].index.hero.image }}');">
    {% include general/navigation.html %}
    <div class="content-wrapper">
    <div class="jumbotron">
        {% assign heroText = site.data.[site.lang].index.hero.title | split:"<typeout>" %}
        <!--<p>{{ site.data.[site.lang].index.hero.eventDate }}</p>-->
        <h1>{{ heroText[0] }}<br><!--<span id="typeout-text" class="hidden-xs"></span><span class="typeout-fallback">{{ site.data.[site.lang].index.hero.typeoutFallback }}</span>{{ heroText[1] }}--></h1>
        <!--<img src="img/other/atlassianproducts_white-s1.png"><br>
        <img src="img/other/atlassianproducts_white-s2.png"><br>-->

            {% for button in site.data.[site.lang].index.hero.buttons %}
        <a href="{% if button.permalink != null %} {{ button.permalink | prepend: site.baseurl }} {% else %} {{ button.link }} {% endif %}" class="btn btn-primary waves-effect waves-button waves-light waves-float" {% if button.link != null %}target="_blank"{% endif %}>{{ button.text }}</a>
        {% endfor %}
        <!--<a href="#tickets" class="btn btn-lg btn-success" style="position:relative;margin-right:5px">Register for Enterprise Day</a>-->
        <img src="img/other/atlassian-rgb-white-medium.png" style="position:relative;left:-5px;top:-4px;width:220px;">

    </div>
    <a href="#about" class="explore">
        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl_root }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
    </div>
</section>
<!-- End Hero Section -->