<!-- Begin Hero Section -->
<section id="top-section-hero" class="top-section-hero top-section image-section" style="background-image: url('{{ site.baseurl_root }}/img/sections-background/{{ site.data.[site.lang].index.hero.image }}');">
    {% include general/navigation.html %}
    <div class="content-wrapper">
    <div class="jumbotron">
        {% assign heroText = site.data.[site.lang].index.hero.title | split:"<typeout>" %}
        <h1>{{ heroText[0] }}<span id="typeout-text" class="hidden-xs"></span><span class="typeout-fallback">{{ site.data.[site.lang].index.hero.typeoutFallback }}</span>{{ heroText[1] }}</h1>
        <p>{{ site.data.[site.lang].index.hero.eventDate }}</p>
            {% for button in site.data.[site.lang].index.hero.buttons %}
        <a href="{% if button.permalink != null %} {{ button.permalink | prepend: site.baseurl }} {% else %} {{ button.link }} {% endif %}" class="btn btn-primary waves-effect waves-button waves-light waves-float" {% if button.link != null %}target="_blank"{% endif %}>{{ button.text }}</a>
        {% endfor %}
    </div>
    <a href="#about" class="explore">
        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl_root }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
    </div>
</section>
<!-- End Hero Section -->