<!-- Begin Location Section -->
<section id="location-map" class="location-map">
    <div id="canvas-map" class="canvas-map"></div>
    <div class="content-wrapper">
        <div class="col-lg-3 col-md-4 col-sm-6 col-md-offset-1 animated hiding location-description text-left" data-animation="fadeInLeft" data-delay="0">
            <div class="row">
                <div class="pull-left">
                    <h3>{{ site.data.[site.lang].index.location-map.title }}</h3>
                    <ul>
                        {% if site.data.[site.lang].index.location-map.name %}<li>{{ site.data.[site.lang].index.location-map.name }}</li>{% endif %}
                        <li>{{ site.data.[site.lang].index.location-map.streetAddress }}, {{ site.data.[site.lang].index.location-map.addressLocality }}</li>
                        <li><a href="mailto:{{ site.data.[site.lang].general.basic.email }}">{{ site.data.[site.lang].general.basic.email }}</a></li>
                        <li>
                            {% assign startTime = site.data.[site.lang].index.location-map.startTime | split: "T" %}
                            <time>{{ startTime[1] }}</time> -
                            {% assign endTime = site.data.[site.lang].index.location-map.endTime | split: "T" %}
                            <time>{{ endTime[1] }}</time>
                        </li>
                    </ul>
                </div>
                <a href="{{ site.baseurl | append: '/logistics/#find-way' }}" class="pull-right">
                    <svg class="icon icon-direction" viewBox="0 0 32 32">
                        <use xlink:href="{{ site.baseurl_root }}/img/sprites/sprites.svg#icon-direction"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Location Section -->