<!-- Begin Rockstar Speakers Section -->
<section id="rockstar-speakers" class="rockstar-speakers" style="background:#fff;">
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1 rockstar-speakers-list">
			<h3 id="rockstar-speaker-title">{{ site.data.[site.lang].index.rockstar-speakers.title }}</h3>
			<div class="clearfix"></div>
			<span class="bordered dark-border"><!--{{ site.baseurl }}/speakers/-->
				<a style="color:#333333" href="#" class="bottom-section-link waves-effect waves-button waves-light">{{ site.data.[site.lang].index.rockstar-speakers.buttonText }}</a>
			</span>
		</div>
	</div>
</section>
<!-- End Rockstar Speakers Section -->