<!-- Begin Twitter Feed Section -->
<section id="twitter-feed" class="twitter-feed" style="background:#fff;">
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2 col-sm-12"><br>
        <!--<h3>Testimonials</h3>--><br><h4 style="color: #59AFE1;">Comments on last year's event:</h4><br><br>
            <ul id="testomonial-ticker" class="ticker" style="color: #59AFE1;">
                <li><h4>"I would like more of everything actually but the mix was really good. I enjoyed the BoF sessions a lot more than I expected."</h4></li>
                <li><h4>"It was great to have different tracks and BoFs, well done! I learned a lot and will definitely be there again next year."</h4></li>
                <li><h4>"The Enterprise Day was perfect to exchange experiences with other Atlassian users, I found solutions to some of our challenges."</h4></li>
            </ul>
        </div>
    </div>
</section>
<!-- End Twitter Feed Section -->
