@mixin linkColor($color) {
     color: $color;
     
     &:hover, &:active, &:focus {
         color: lighten($color, $link-lighten-amount);
     }
}

@mixin trimText($font-size, $line-height, $lines) {
  display: block;
  display: -webkit-box;
  overflow: hidden;
  height: $font-size*$line-height*$lines+2px;
  text-overflow: ellipsis;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}